###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/.idea
/public/bundles/
/var/
/vendor/
symfony.lock
bin
composer.lock
features/authorization-jwt.txt
###< symfony/framework-bundle ###
###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> friends-of-behat/symfony-extension ###
/behat.yml
###< friends-of-behat/symfony-extension ###
